*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;

}
.topnav{
   width: 100%;
   padding: 20px 0 0 0;
   display: flex;
   background-color: gray;
   justify-content: space-between;
   align-items: center;
   gap: 50px;
}
.topnav ul{
   justify-content: space-between;
   margin-left: 20px;
   margin-bottom: 9px;
}
.topnav .media-icons{
   margin-right: 50px;
}
nav{
    width: 100%;
    padding: 20px 0 0 0;
    transition: all o.3s ease;
    background-color: rgba(52, 59, 59, 0.521);
   
}
.navbar ul{
   margin-right: 99px;
}

nav .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
 }

 .log {
    font-weight: 500;
    font-size: 35px;
    color: red;
 }

  .menu{
    display: flex;
    position: relative;
 }

 .menu li{
    list-style: none;
    margin: 0 8px;
    list-style: none;
 }
 .menu a{
    font-size: 18px;
    list-style: none;
    font-style: italic;
    font-weight: 500;
    color: aliceblue;
    padding: 6px 0;
    transition: all 0.4s ease;
 }

 .menu a:hover{
    color: gold;
    text-decoration-line: overline underline;
 }

 nav.sticky .menu a{
    color: aliceblue;
 }
 .img{
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    position: relative;
 }
 .h2{
   display: flex;
 }
 h2{
    position: relative;
    bottom: 400px;
    left: 150px;
    right: 0;
    color: rgba(255, 166, 0, 0.973);
    font-style: italic;
    margin: 0 5px;
    padding: 0;
    opacity: 0;
    font-size: 3rem;
    transition: all.5s ease-in;
    transform: translateY(3.8rem);
 }
 .animate{
   opacity: 1;
   transform: translateY(0);
}
 .media-icons a{
    color: black;
 }

 button{
   left: 80px;
   bottom: 70px;
   width: 100px;
   height: 30px;
   color: aliceblue;
   background-color: rgb(42, 140, 165);
   border-radius: 20px;
   border: 1px solid yellow;

 }
 h3{
   position: relative;
   left: 10px;
   right: 0;
   color: black;
   font-size: 5px;
   opacity: 0;
   transition: all.5s ease-in;
   transform: translateX(3.8rem);
 }

.aboutus{
   width: 80%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: antiquewhite;
   flex-direction: column;
}

.aboutus h1{
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 4rem;
}
.container{
   display: flex;
   width: 100%;
}
.container .image{
   width: 40%;
   height: 200px;
}
.image img{
   width: 100%;
}
.content{
   width: 80%;
   margin-left: 2rem;
}
.content p{
   font-size: 1.2rem;
   line-height: 1rem;
}
.content>button{
   display: block;
   padding: 10px 15px;
   border: none;
   background-color: goldenrod;
   border-radius: 5px;
}
.content button a{
   text-decoration: none;
   font-size: 18px;
   color: aliceblue;
   
}
.services{
   width: 80%;
   margin: 0 auto;
   background-color: rgb(14, 148, 137);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.featureservices{
   display: flex;
   justify-content: center;
}
.item{
   width: 33.3%;
   background-color: floralwhite;
   margin-right: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.item img{
   width: 100%;
}
.itme p{
   text-align: center;
   color: rgb(5, 49, 87);
   font-size: 1rem;
}
.item button{
   display: block;
   padding: 10px 15px;
   border: none;
   background-color: goldenrod;
   border-radius: 5px;
}

.item button a{
   text-decoration: none;
   font-size: 18px;
   color: aliceblue;
}


.contact{
   width: 80%;
   margin: 0 auto;
   padding-top: 2.5rem;
   background-color: aquamarine;
}

.contact .content{
   display: flex;
   width: 100%;
}

.content .form{
   widows: 60%;
}
.content .image img{
   width: 40%;
}
.form form{
   display: flex;
   flex-direction: column;
   margin-right: 2rem;
}
form input{
   margin-bottom: 1rem;
   display: block;
   border: none;
   height: 3rem;
   background-color: gray;
   border-radius: 5px;
}




 @media (max-width: 750px){
    nav .navbar{
       width: 90%;
    }
    nav .navbar .menu{
       position: fixed;
       left: -100%;
       background-color: gray;
       height: 100vh;
       max-width: 400px;
       width: 100%;
       padding-top: 60px;
       flex-direction: column;
       align-items: center;
       transition: all 0.5s ease;
    }
    nav .active .menu{
       left: 0;
    }
    nav .navbar .menu a{
       font-size: 23px;
       display: block;
       color: aliceblue;
       margin: 10px 0;
    }
    
    nav .navbar .menu a:hover{
       color: gold;
    }
    nav .sticky .menu a:hover{
       display: none;
    }
    nav .navbar .madia-icon{
       display: none;
    }
    nav .menu-btn,
    .navbar .menu .cancel-btn{
       display: block;
    }
    .img{
      height: 100vh;
      max-width: 400px;
      width: 10%;
      padding: 0;
      margin: 0;
      position: relative;
   }
  
 
 }